/*             CATEGORY          
***********************/

/*          SUBCATEGORY
=======================*/

/*      SUB SUBCATEGORY 
-----------------------*/

/*          Preferences
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/

/*                                                                FONT
**********************************************************************/
/* 2 */
@font-face {
  font-family: 'Milford-nLjO';
  src: url('/static/font/Milford-nLjO.ttf') format('TrueType');
}





/*                                                                BASE
**********************************************************************/
html {
  max-width: 1200px!important;
  margin-right: auto;
  margin-left: auto;
}


/*                                                              NAVBAR
**********************************************************************/
/*                                                  DROPDOWN
============================================================*/
/*      Items flexible, center-align
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.dropdown-item { 
  display: flex;
  align-items: center;
}
/*               Space between badge
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.dropdown-item .badge {
  margin-left: 5px;
}
/*                                               SEARCH-FIELD
=============================================================*/
/*                            Center
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
.mx-auto .search .input-group {
  width: 100%;
}
/*                Color, Shape, Font
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.search-input {
  background-color: #ffffff;
  color: #000000;
  border-radius: 0px;
  border: 1px solid #FF70C0;
  font-size: 1rem;
}
/*                  Placeholder Font
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.search-input::placeholder {
  color: #000;
  font-family: "Milford-nLjO";
}
/*                                            BUTTON
----------------------------------------------------*/
/*                        Icon color
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
.search-btn .fa-search {
  color: #FF70C0;
}
/*                  Background color
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.search-btn {
  background-color: white;
  border-radius: 0px;
  border: 1px solid #FF70C0;
}
/*                       Hover color
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.search-btn:hover {
  background-color: #bed4f3;
  border-color: #FF70C0;
}
/*                                            PROFILE PICTURE
=============================================================*/
/*                             Shape
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar .nav-link img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
/*                                              SMALL SCREENS
=============================================================*/
/*                            BRAND + TOGGLER BUTTON
----------------------------------------------------*/
/*                    Vertical align
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-brand,
.navbar-toggler {
  align-items: center;
  display: flex;
}
/*                                             BRAND
----------------------------------------------------*/
/*                              Size
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-brand img {
  height: 34px;
  width: 135px;
}
/*                                    TOGGLER BUTTON
----------------------------------------------------*/
 
/*           Size / Position / Shape 
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-toggler {
  padding: 0.1rem 0.5rem;
  font-size: 1.05rem;
  border-radius: 0px;
}
/*                     Color - lines
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23FF70C0' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*           Color - outline / Shape
¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/ 
.navbar-toggler:focus {
  outline: 2px solid #FF70C0;
  border-radius: 0px;
}
/*                                           WELCOME MESSAGE
============================================================*/
.welcome-message {
  color: #000000;
  font-size: 18px;
  font-family: "Milford-nLjO";
}

